{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="form">
        {% if error %}
            <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="alert">
                You are logged in as {{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="form-title">Please sign in</h1>

        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required>

        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox-inline">
            <input type="checkbox" name="_remember_me" id="remember_me">
            <label for="remember_me">Remember me</label>
        </div>

        <button class="btn" type="submit">Sign in</button>
    </form>
{% endblock %}
